@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
     @apply flex justify-between items-center shadow-md w-full shadow-[#bee3db] top-0
}
.footer {
     @apply bg-white border-t shadow-lg fixed w-2/3 bottom-0
}
.title-page {
     @apply text-3xl p-3 m-3 font-semibold text-[#555b6e] font-raleway
}
.search{
     @apply max-w-56 font-lato
}
.input{
     @apply border-2 h-9 p-3 mr-5 rounded-md border-[#d9d9d9]
}
.sort{
     @apply text-center text-[#4a4e69]  rounded-md mr-4 text-2xl
}
.body-card{
     @apply grid grid-cols-4 max-lg:grid-cols-3 max-md:grid-cols-1 gap-2 rounded-md mx-3
}
.card-produk{
     @apply max-w-72 max-h-[380px] border-4 border-[#8d99ae] m-3 p-2 rounded-md hover:border-[#0b7c70] cursor-pointer
}
.title-produk{
     @apply text-lg max-md:text-base max-md:h-11 text-center my-3 h-14 font-lato overflow-hidden 
}
.price-produk{
     @apply text-center md:text-base max-md:text-sm font-lato
}
.category-btn {
     @apply text-xl uppercase bg-[#2b2d42] text-white px-8 py-3 font-raleway cursor-pointer
}
.plus-minus-btn{
     @apply p-2 rounded-full cursor-pointer bg-[#8d99ae]
}
.oneline {
     @apply flex items-center
}
.delete{
     @apply cursor-pointer text-[#ef233c] hover:text-[#d90429] text-xl
}
.cart-body{
     @apply flex justify-start items-center my-3 border-b-2 border-[#8d99ae] p-2 rounded-md
}
.title-cart{
     @apply h-7 max-w-[360px] overflow-hidden text-lg font-lato 
}
.table{
     @apply m-5 text-lg
}
.add-btn{
     @apply bg-green-300 px-5 p-3 m-3 text-xl font-lato uppercase w-11/12 cursor-pointer
 }
